
 /* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
.head h1{
	color:white;
}
.middle p{
	color:white;
}
.footer p{
	color:white;
}

 }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
.head h1{
	color:orange;
}
.middle p{
	color:orange;
}
.footer p{
	color:orange;
}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
	.head h1{
	color:blue;
}
.middle p{
	color:blue;
}
.footer p{
	color:blue;
}
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
	.head h1{
	color:red;
}
.middle p{
	color:red;
}
.footer p{
	color:red;
}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}